.heroSection {
  display: flex;
  gap: 1rem;
  padding: 3rem 0;
  background: linear-gradient(180deg, #c6dfdd 70%, transparent 30%);
  color: black;
  padding: 3rem 10%;
  .left {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    width: 50%;
   
    font-family: "Raleway", "Helvetica Neue";
    .category-date {
      font-weight: 200;
      font-size: 0.9rem;
      display: flex;
      gap: 8px;
    }

    h1 {
      font-size: 2rem;
    }
    p {
      color: rgb(107, 102, 102);
      line-height: 1.5rem;
      font-weight: 100;
    }
    button {
      padding: 8px 1.3rem;
      border-radius: 6px;
      width: fit-content;
      border: 2px solid #52918E;
      color: black;
      outline: none;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        background-color: #52918E;
        color: black ;
      }
    }
  }
  .right {
    width: 50%;
    // padding-left: 10% ;
    display: flex;
    justify-content: flex-end;
    .image-container {
      height: 70vh;
      width: 80%;
      img {
        border-radius: 20px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}
