.popular-articles {
 padding: 1rem;

 h2 {
  font-size: 2rem;
  font-family: 'League Gothic', sans-serif;
  margin-bottom: 1rem;
 }

 .blogs-container {
  display: flex;
  width: 90%;
  height: 50vh;
  margin: auto;

  .left {
   width: 30%;
   border: 1px solid;
  }

  .mid {
   width: 50%;
   border: 1px solid;
  }

  .right {
   width: 20%;

   .right-top {
    height: 40%;
    border: 1px solid;
   }

   .right-bottom {
    height: 60%;
    border: 1px solid;
   }
  }
 }
}